footer{
    background-color: #171717;
    padding: 100px 100px;
    font-family: "Poppins", sans-serif;
}
footer .top{
    display: flex;
    justify-content: space-around;
}
footer .top ul li{
    list-style: none;
}
footer .top .list a{
    text-decoration: none;
    color: #c4c4c4;
    transition: 0.4s ease;
}
footer .top .list a:hover{
    color: #ffffff;
}
footer .top .list p {
    font-weight: bold;
    font-size: 2rem; 
}
footer .bottom{
    display: flex;
    gap: 100px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}
footer .bottom img{
    background-color: #171717;
    width: 30px;
    transition: ease 0.4s;
}
footer .bottom img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
footer .logo{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}