* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f9f9f9;
  }
nav{
    position: fixed;
    display: flex;
    padding: 2% 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #eef2ff;
    z-index: 1000;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
}
.menu-links{
    visibility: collapse;
}
.menu-icon{
    display: none;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
    display: inline-block;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: black;
}
.nav-links ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}
.a{
    font-size: 100px;
    display: none;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8685ef;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links .support{
	transition: ease 0.2s;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	padding: 6px 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	position: relative;
	cursor: pointer;
	border-radius: 50px;
    background-color: #8685ef;
}
.nav-links .support:hover{
	background-color: #b8b7ff;
}