@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
.header {
  background: url("../images/support/background1.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header .text-box {
  width: 50%;
  position: absolute;
  margin-top: 300px;
  left: 5%;
  text-align: left;
}
.header .text-box h1 {
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
}
.header .text-box p a {
  color: white;
  font-family: "Abril Fatface", cursive;
  text-decoration: none;
  font-size: 1rem;
  margin: 10px 0 40px;
}
.header .text-box .line1 {
  background-color: #f9f9f9;
  width: 50%;
  height: 5px;
}
.header .text-box .line2 {
  margin-top: 10px;
  background-color: #f9f9f9;
  width: 50%;
  height: 5px;
}
.problem {
  background: url(../images/support/background2.png);
  background-color: #f0f0f0;
  margin: 100px 170px;
  padding: 50px;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.05);
  transition: ease 0.4s;
}
.problem:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.problem .head {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 20px;
}
.problem .head .line {
  width: 100%;
  margin-top: 30px;
  background-color: #000000;
  height: 2px;
}
.problem .container {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  padding: 30px 0;
}
.problem .container .text-box {
  text-align: justify;
  margin: 10px;
  line-height: 2;
}
.problem .container h1 {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 20px;
}
.problem .container p {
  padding: 20px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: "Libre Baskerville", serif;
}
.problem .container img {
  width: 200px;
  height: 200px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.form {
  background-color: #f0f0f0;
  background: url(../images/support/background2.png);
}
.form .container {
  margin: 0px 150px;
  padding: 50px 50px;
  background-color: #ffffff;
}
.form .head {
  text-align: center;
}
.form .head .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.form .head h1 {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 10px;
}
.form .head p {
  padding: 10px;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
}
.form .row {
  display: flex;
  justify-content: center;
}
.form .col {
  padding: 20px;
}
.form .col label {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: bold;
}
.form .col label a {
  color: #1a48aa;
}
.form input {
  padding: 10px 20px;
  font-size: 1.2rem;
}
.form #terms {
  cursor: pointer;
}
.form #submit {
  transition: ease 0.4s;
  font-size: 18px;
  border: none;
  font-family: "Vollkorn SC", serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  padding: 8px 40px;
  border: #000000 solid 2px;
  cursor: pointer;
}
.form #submit:hover {
  color: #000000;
  background-color: #ffffff;
}

